[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Bb]uild/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
 
# Allow this specific WebGL build for GitHub Pages
!My project_260320-Nina-Test02-Filter/Build/
!My project_260320-Nina-Test02-Filter/Build/260320-Nina-Test02-Filter_build-01/**
!My project_260320-Nina-Test02-Filter/Build/260320-Nina-Test02-Filter_build-02/**
!My project_260320-Nina-Test02-Filter/Build/260320-Nina-Test02-Filter_build-03/**
!My project_260320-Nina-Test02-Filter/Build/260320-Nina-Test02-Filter_build-*/**

# OS junk
.DS_Store